<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.84.0">
  <title style="text-align: center;">KamenRiderShop</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/product/">


  <!-- Bootstrap core CSS -->
  <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <main>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <img
          src="https://www.adobe.com/content/dam/cc/us/en/creativecloud/design/discover/mascot-logo-design/mascot-logo-design_fb-img_1200x800.jpg"
          style="width: 90px;" alt="KamenRiderShop Logo">
        <h5>KamenRiderShop</h5>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/" style="color: #555; font-weight: bold; text-transform: uppercase;">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"
                style="color: #555; text-transform: uppercase; font-weight: bold;">Category
                Product</a>
              <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" href="beltkr" style="color: #555;">KamenRider Belt</a>
                <a class="dropdown-item" href="weaponkr" style="color: #555;">KamenRider Weapon</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login" style="color: #555; font-weight: bold; text-transform: uppercase;">Login
                <i class="bi bi-box-arrow-in-right"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <img id="myImg"
      src="https://preview.redd.it/what-is-the-best-heisei-phase-1-kamen-rider-show-in-your-v0-8bl1qyxes9a81.jpg?auto=webp&s=5bdd4c669c3a81eb0ff7fb77a28a50119c65a9d2"
      alt="" style="width:100%; height:550px; margin-top: 30px">

    <h4 style="text-align: center; margin: 30px 0 30px 0"><strong>Best-Selling Product</strong></h4>

    <div class="row">

      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card shadow-sm">
          <a href="/beltkr/detail/652f9e892604c6a6c1a1c9c4">
            <img width="450" height="300"
              src="https://tokullectibles.com/cdn/shop/products/1000154839_1.jpg?v=1612826149" alt="">
          </a>
          <title>DECADE DRIVER</title>
          <div class="card-body">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
              <div class="d-flex justify-content-start align-items-start h-100">
                <h5><span class="badge bg-light pt-2 ms-3 mt-3 text-dark">$90</span>
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="margin-left:130px; "><a
                      href="/beltkr/detail/652f9e892604c6a6c1a1c9c4" style="text-decoration: none; color: #FFFAF0">View
                      Details</a></button>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card shadow-sm">
          <a href="/beltkr/detail/652f9e892604c6a6c1a1c9c5">
            <img width="450" height="300"
              src="https://tokullectibles.com/cdn/shop/products/1000183391_1_1200x.jpg?v=1670286100" alt="">
          </a>
          <title>KABUTO DRIVER</title>
          <div class="card-body">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
              <div class="d-flex justify-content-start align-items-start h-100">
                <h5><span class="badge bg-light pt-2 ms-3 mt-3 text-dark">$120</span>
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="margin-left:130px; "><a
                      href="/beltkr/detail/652f9e892604c6a6c1a1c9c5" style="text-decoration: none; color: #FFFAF0">View
                      Details</a></button>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card shadow-sm">
          <a href="/weaponkr/detail/653150671053b11ce4bbf908">
            <img width="450" height="300"
              src="https://acecards.com/cdn/shop/products/Bandai-Kamen-Rider-Decade-Transform-Loading-Gun-Ver_20th-DX-DiEnd-Driver-2_2048x.jpg?v=1652641299"
              alt="">
          </a>
          <title>TRANSFORM LOADING GUN VER.20TH DX DIEND DRIVER</title>
          <div class="card-body">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
              <div class="d-flex justify-content-start align-items-start h-100">
                <h5><span class="badge bg-light pt-2 ms-3 mt-3 text-dark">$200</span>
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="margin-left:130px; "><a
                      href="/weaponkr/detail/653150671053b11ce4bbf908"
                      style="text-decoration: none; color: #FFFAF0">View
                      Details</a></button>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card shadow-sm">
          <a href="/weaponkr/detail/653150671053b11ce4bbf90c">
            <img width="450" height="300" src="https://cdn-amz.woka.io/images/I/719sXfumi9L.SS456.jpg" alt="">
          </a>
          <title>CROSS Z-MAGMA KNUCKLE</title>
          <div class="card-body">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
              <div class="d-flex justify-content-start align-items-start h-100">
                <h5><span class="badge bg-light pt-2 ms-3 mt-3 text-dark">$200</span>
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="margin-left:130px; "><a
                      href="/weaponkr/detail/653150671053b11ce4bbf90c"
                      style="text-decoration: none; color: #FFFAF0">View
                      Details</a></button>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card shadow-sm">
          <a href="/weaponkr/detail/653150671053b11ce4bbf90d">
            <img width="450" height="300"
              src="https://cdn.suruga-ya.com/pics_light/boxart_a/607101778_1.jpg?v=ef5f262a7ef374659bf4" alt="">
          </a>
          <title>EX-AID GASHACON BREAKER</title>
          <div class="card-body">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
              <div class="d-flex justify-content-start align-items-start h-100">
                <h5><span class="badge bg-light pt-2 ms-3 mt-3 text-dark">$200</span>
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="margin-left:130px; "><a
                      href="/weaponkr/detail/653150671053b11ce4bbf90d"
                      style="text-decoration: none; color: #FFFAF0">View
                      Details</a></button>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card shadow-sm">
          <a href="/beltkr/detail/652f9e892604c6a6c1a1c9c3">
            <img width="450" height="300" src="https://www.heroshock.com/wp-content/uploads/2018/06/1000125956_2.jpg"
              alt="">
          </a>
          <title>RYUKI DRIVER</title>
          <div class="card-body">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
              <div class="d-flex justify-content-start align-items-start h-100">
                <h5><span class="badge bg-light pt-2 ms-3 mt-3 text-dark">$100</span>
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="margin-left:130px; "><a
                      href="/beltkr/detail/652f9e892604c6a6c1a1c9c3" style="text-decoration: none; color: #FFFAF0">View
                      Details</a></button>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
  <div class="container my-5">
    <footer class="text-center text-lg-start" style="background-color: grey;">
      <div class="container d-flex justify-content-center py-5">
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="bi bi-facebook"></i>
        </button>

        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="bi bi-instagram"></i>
        </button>

        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="bi bi-twitter"></i>
        </button>
      </div>

      <!-- Copyright -->
      <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright: KamenRiderShop
      </div>
    </footer>
  </div>
  </nav>

  <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>


</body>

</html>